{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {{ form_errors(EditProfil) }}
    <div class="w-50 mx-auto text-center">
        <h1 class="h3 m-5 font-weight-normal">
            {% if app.user.firstname %}
                Modification du profil de {{ app.user.firstname }}...
            {% endif %}
        </h1>
    </div>
    <div class="container w-25">
        {{ form_start(EditProfil) }}
        {{ form_row(EditProfil.email) }}
        {{ form_row(EditProfil.firstname) }}
        {{ form_row(EditProfil.lastname) }}

        <div class="form-group">
            <label for="avatars"></label>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle float-end" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sélectionner un avatar
                </button>
                <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton" style="width: 500px;">
                    <div class="container">
                        <div class="row">
                            {% for avatar in EditProfil.avatar %}
                            <div class="col-3 text-center mb-2">
                                <a class="dropdown-item p-0" href="#" style="cursor: pointer;">
                                    {{ form_widget(avatar, { 'attr': { 'style': 'display: none;' } }) }}
                                    <img src="/img/avatar/{{ avatar.vars.value }}" alt="{{ avatar.vars.label }}"
                                         class="img-thumbnail rounded-circle" height="100" width="100"/>
                                </a>
                            </div>

                            {% if loop.index % 4 == 0 %}
                        </div>
                        <div class="row">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse mt-5">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
        {{ form_end(EditProfil) }}
    </div>


    <div style="height:100px;"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/profil.js') }}"></script>
{% endblock %}
