<h1 class="text-center mb-2">
    Liste des produits
</h1>
<div class="container">
    <div class="row">
        <div id="categoryMenu" class="product-category-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
            {% for category in categories %}
                <a href="#" class="maskCategory" onclick="filterProducts('{{ category }}')">
                    {{ category }}
                </a>
            {% endfor %}
        </div>
        <button id="categoryToggleBtn" class="openbtn" onclick="toggleNav()">
            <i class="fa-solid fa-arrow-down left-arrow arrow-icon"></i>
            &nbsp;Catégories&nbsp;
            <i class="fa-solid fa-arrow-down right-arrow arrow-icon"></i>
        </button>

        {% if products is empty %}
            <div class="mx-auto bg-warning shadow w-50 text-center p-1 mt-5">
                <p class="mt-3">Aucun produit n'est disponible</p>
            </div>
        {% endif %}

        <div id="productList" class="row">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 mb-4 mx-auto my-5 product-item" data-category="{{ product.category }}" style="max-width: 370px;">
                    <div class="card border w-100 shadow" style="height: 532px;">
                        {% set picturePath = vich_uploader_asset(product, 'pictureFile') %}
                        {% set displayPicture = product.picture %}
                        {% if displayPicture is empty %}
                            {% set displayPicture = 'img/no_picture.jpg' %}
                        {% endif %}
                        {% if displayPicture == 'img/no_picture.jpg' or picturePath is empty %}
                            <img src="{{ displayPicture }}" class="card-img-top" alt="{{ product.title }}">
                        {% else %}
                            <img src="{{ picturePath | imagine_filter('thumb_294x294') }}" alt="{{ product.title }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body overflow-hidden" style="max-height: 120px;">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex overflow-hidden" style="max-width: 180px;">
                                    <h5 class="card-title text-truncate" title="{{ product.title }}">{{ product.title }}</h5>
                                </div>
                                <div>
                                    {% if app.user and user.professional %}
                                        <span class="color-custom3" title="Prix HT"> {{ product.price }}€ - </span>
                                    {% endif %}
                                    <span class="fw-bold" title="Prix TTC"> {{ product.priceTva }}€</span>
                                </div>
                            </div>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div class="d-flex flex-row-reverse card-body quantity-selector align-items-center" style="font-size: 25px;">
                            <a href="{{ path('product_detail', {'id' : product.id }) }}"
                               class="btn btn-secondary text-white ms-4 btn-sm btn-block my-2 fs-4"
                               title="Voir le produit en détail">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <a href="#" data-url="{{ path('add_item', {'id': product.id }) }}"
                               class="add-to-cart btn btn-success text-white ms-4 btn-sm btn-block my-2 fs-4"
                               title="Ajouter au panier">
                                <i class="fa-solid fa-cart-plus"></i>
                            </a>
                            <div class="num-block skin-7">
                                <div class="num-in">
                                    <span class="minus dis">-</span>
                                        <input type="text" id="qtyAddBasket" class="in-num" value="1" readonly="">
                                    <span class="plus">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="height:100px;"></div>
    </div>
</div>

<script src="{{ asset('js/list.js') }}"></script>;
