
<h1 class="text-center mb-2">
    Mon panier
</h1>
<div class="container">
    <div class="row">
        <table id="myBasket" class="table-custom">
            <thead>
            <tr>
                <th class="col-1">Articles</th>
                <th class="col-2">Description</th>
                <th class="col-3 text-center">Quantité</th>
                {% if user.isProfessional %}
                    <th class="col-4 text-center">Prix HT</th>
                {% endif %}
                <th class="col-5 text-center{% if totalPrice == totalPriceWithDiscount %} bg-custom1 text-black{% endif %}">
                    {% if user.isProfessional %}
                        Prix TTC
                    {% else %}
                        Prix
                    {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in basketItems %}
                <tr data-item-id="{{ item.id }}">
                    <td class="col-1" title="{{ item.product.title }}">
                        <a class="text-decoration-none text-black" href="{{ path('product_detail', {'id' : item.product.id }) }}">
                            {{ item.product.title }}
                        </a>
                    </td>
                    <td class="col-2 description" title="{{ item.product.description }}">
                        <a class="text-decoration-none text-black" href="{{ path('product_detail', {'id' : item.product.id }) }}">
                            {{ item.product.description }}
                        </a>
                    </td>
                    <td class="col-3 quantity text-center" data-quantity="{{ item.quantity }}">
                        <label>
                            <input type="number" class="form-control quantity-input"
                                   value="{{ item.quantity }}" data-item-id="{{ item.id }}" min="1">
                        </label>
                    </td>
                    {% if user.isProfessional %}
                        <td class="price col-4 text-center" data-price="{{ item.product.price }}">
                            {{ item.product.price * item.quantity }} €
                        </td>
                    {% endif %}
                    <td class="tva quantity col-5 text-center" data-tva="{{ item.product.priceTva }}">
                        {{ item.product.priceTva * item.quantity }} €
                        <a href="{{ path('delete_item', {'id' : item.id }) }}"
                           title="Supprimer {{ item.product.title }} ?"
                           class="delete-item border p-2 shadow text-danger pointer bg-white"
                           data-item-id="{{ item.id }}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table-custom">
            <thead>
            <tr>
                <th class="bg-custom1 text-black col-1 text-center border-custom1">Total <br> Article</th>
                <th class="bg-custom1 text-black col-2 border-custom1">&nbsp;</th>
                <th class="bg-custom1 text-black col-3 text-center border-custom1">Total <br> Quantité</th>
                {% if user.isProfessional %}
                    <th class="bg-custom1 text-black col-4 text-center border-custom1">Total <br> HT</th>
                    <th class="bg-custom1 text-black col-5 text-center border-custom1">Total <br> TTC</th>
                {% else %}
                    <th class="bg-custom1 text-black col-5 text-center border-custom1">Total <br> Montant</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% if totalPrice != totalPriceWithDiscount %}
                <tr>
                    <td colspan="5" class="border-custom2 alert-success" style="text-align: end;">
                        <span class="fw-bold">Vous bénéficiez de {{ valueDiscount }} % de réduction sur votre panier</span>
                    </td>
                </tr>
                <tr>
                    <td id="totalCount" class="col-1 text-center">
                        {{ totalCount }}
                    </td>
                    <td class="col-2">
                        &nbsp;
                    </td>
                    <td id="totalQuantity" class="col-3 text-center">
                        {{ totalQuantity }}
                    </td>
                    {% if user.isProfessional %}
                    <td id="totalPriceHtWithDiscount" class="col-4 text-center position-relative"
                        data-reduction="{{ valueDiscount }}">
                        <span class="position-absolute" style="top:-5px; right:-5px;">
                            <img src="img/icons/icon-discount.png" alt="">
                        </span>
                        <span class="total-price-ht-discount d-inline-block">{{ totalPriceWithDiscount }} €</span>
                    </td>
                    <td id="totalPriceTtcWithDiscount" class="col-5 text-center total-price-ttc-discount"
                        data-reduction="{{ valueDiscount }}">
                        {{ totalPriceTtcWithDiscount }} €
                    </td>
                    {% else %}
                        <td id="totalPriceTtcWithDiscount" class="col-4 text-center position-relative"
                            data-reduction="{{ valueDiscount }}">
                            <span class="position-absolute" style="top:-5px; right:-5px;">
                                <img src="img/icons/icon-discount.png" alt="">
                            </span>
                            <span class="d-inline-block total-price-ttc-discount">{{ totalPriceTtcWithDiscount }} €</span>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
            <tr>
                <td id="totalCount" class="col-1 text-center">
                    {{ totalCount }}
                </td>
                <td class="col-2">
                    &nbsp;
                </td>
                <td id="totalQuantity" class="col-3 text-center">
                    {{ totalQuantity }}
                </td>
                {% if user.isProfessional %}
                    <td id="totalPriceHt" class="col-4 text-center">
                        {{ totalPrice }} €
                    </td>
                {% endif %}
                <td id="totalPriceTtc" class="col-5 text-center">
                    {{ totalPriceTtc }} €
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }} mx-auto p-0 mt-5 shadow" style="max-width:1000px;">
            {% for message in messages %}
                <p class="mt-3 ms-5">{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <form action="{{ path('basket_discount_code') }}" method="POST">
        <div class="input-group my-5 ms-auto w-50" style="max-width: 1000px">
            <input type="text" name="promo_code" class="form-control" placeholder="Entrez le code promotionnel" aria-label="Code promotionnel">
            <div class="ms-1 input-group-append">
                <button class="btn btn-secondary" type="submit">Appliquer</button>
            </div>
            <div class="w-25"></div>
        </div>
    </form>

    <div class="d-flex gap-3 mt-3 justify-content-between mx-auto w-75">
        <a class="btn btn-secondary shadow" href="{{ path('app_product') }}" role="button">
            Voir les produits
        </a>
        <div>
            {% if totalPrice != totalPriceWithDiscount %}
                <a class="btn btn-danger shadow" href="{{ path('basket_discount_code_cancel') }}" role="button">
                    Annuler ma réduction
                </a>
            {% endif %}
            <a class="btn btn-success shadow" href="{{ path('app_delivery') }}" role="button">
                Valider mon panier ( {{ totalPriceTtcWithDiscount }} € )
            </a>
        </div>
    </div>
</div>

<script src="{{ asset('js/basket.js') }}"></script>
