
<h1 class="text-center mb-2">
    Mon panier
</h1>
<div class="container">
    <div class="row">
        <table id="myBasket" class="table-custom">
            <thead>
            <tr>
                <th class="col-1">Articles</th>
                <th class="col-2">Description</th>
                <th class="col-3 text-center">Quantité</th>
                <th class="col-4 text-center">Prix HT</th>
                <th class="col-5 text-center">Prix TTC</th>
            </tr>
            </thead>
            <tbody>
            {% for item in basketItems %}
                <tr data-item-id="{{ item.id }}">
                    <td class="col-1" title="{{ item.product.title }}">
                        <a class="text-decoration-none text-black" href="{{ path('product_detail', {'id' : item.product.id }) }}">
                            {{ item.product.title }}
                        </a>
                    </td>
                    <td class="col-2 description" title="{{ item.product.description }}">
                        <a class="text-decoration-none text-black" href="{{ path('product_detail', {'id' : item.product.id }) }}">
                            {{ item.product.description }}
                        </a>
                    </td>
                    <td class="col-3 quantity text-center" data-quantity="{{ item.quantity }}">
                        <label>
                            <input type="number" class="form-control quantity-input"
                                   value="{{ item.quantity }}" data-item-id="{{ item.id }}" min="1">
                        </label>
                    </td>
                    <td class="col-4 text-center">
                        {{ item.product.price }} €
                    </td>
                    <td class="quantity col-5 text-center">
                        99 €
                        <a href="{{ path('delete_item', {'id' : item.id }) }}"
                           title="Supprimer {{ item.product.title }} ?"
                           class="delete-item border p-2 shadow text-danger pointer bg-white"
                           data-item-id="{{ item.id }}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table-custom">
            <thead>
            <tr>
                <th class="col-1 text-center">Total</th>
                <th class="col-2">&nbsp;</th>
                <th class="col-3 text-center">Quantité</th>
                <th class="col-4 text-center">Prix HT</th>
                <th class="col-5 text-center">Prix TTC</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-1 text-center">
                    0 €
                </td>
                <td class="col-2">
                    &nbsp;
                </td>
                <td class="col-3 text-center">
                    0
                </td>
                <td class="col-4 text-center">
                    0 €
                </td>
                <td class="col-5 text-center">
                    0 €
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="input-group my-5 ms-auto w-50" style="max-width: 1000px">
        <input type="text" name="promo_code" class="form-control" placeholder="Entrez le code promotionnel" aria-label="Code promotionnel">
        <div class="ms-1 input-group-append">
            <button class="btn btn-secondary" type="submit">Appliquer</button>
        </div>
        <div class="w-25"></div>
    </div>

    <div class="d-flex gap-3 mt-3 justify-content-between mx-auto w-75">
        <a class="btn btn-secondary shadow" href="{{ path('app_product') }}" role="button">
            Voir les produits
        </a>
        <a class="btn btn-success shadow" href="#" role="button">
            Valider mon panier
        </a>
    </div>
</div>

<script src="{{ asset('js/basket.js') }}"></script>
