{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <div class="container w-50">
        <div class="text-center mb-5">
            <h1>Ajouter un nouveau produit</h1>
        </div>
        {{ form_start(AddProduct) }}

        <div>
            {{ form_label(AddProduct.title) }}
            {{ form_widget(AddProduct.title) }}
            {{ form_errors(AddProduct.title) }}
        </div>

        <div>
            {{ form_label(AddProduct.brand) }}
            {{ form_widget(AddProduct.brand) }}
            {{ form_errors(AddProduct.brand) }}
        </div>

        <div>
            {{ form_label(AddProduct.description) }}
            {{ form_widget(AddProduct.description) }}
            {{ form_errors(AddProduct.description) }}
        </div>

        <div>
            {{ form_label(AddProduct.category) }}
            {{ form_widget(AddProduct.category) }}
            {{ form_errors(AddProduct.category) }}
        </div>

         <div>
            {{ form_label(AddProduct.pictureFile) }}
            {{ form_widget(AddProduct.pictureFile) }}
            {{ form_errors(AddProduct.pictureFile) }}
        </div>

        <div>
            {{ form_label(AddProduct.price) }}
            {{ form_widget(AddProduct.price) }}
            {{ form_errors(AddProduct.price) }}
        </div>

        <div>
            {{ form_label(AddProduct.active) }}
            {{ form_widget(AddProduct.active) }}
            {{ form_errors(AddProduct.active) }}
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Ajouter le produit</button>
        </div>
        {{ form_end(AddProduct) }}
    </div>
{% endblock %}
